* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-transform: capitalize;
  line-height: 1.5;
  background: black;
  color: white;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form ::placeholder {
  text-transform: capitalize;
  color: white;
}

input {
  background: black;
  color: white;
  border: none;
  border-bottom: 1px solid grey;
  padding: 12px 0;
  outline: none;
}

button {
  text-align: left;
  width: 100px;
  padding: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}
